<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxl.cakeadmin.mapper.CakeProductLabelMapper">
  <resultMap id="BaseResultMap" type="com.lxl.cakeadmin.entity.CakeProductLabel">
    <!--@mbg.generated-->
    <!--@Table cake_product_label-->
    <id column="product_label_id" jdbcType="BIGINT" property="productLabelId" />
    <result column="cake_product_id" jdbcType="BIGINT" property="cakeProductId" />
    <result column="cake_label_id" jdbcType="BIGINT" property="cakeLabelId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    product_label_id, cake_product_id, cake_label_id
  </sql>
</mapper>