<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxl.cakeadmin.mapper.CakeUserMapper">
  <resultMap id="BaseResultMap" type="com.lxl.cakeadmin.entity.CakeUser">
    <!--@mbg.generated-->
    <!--@Table cake_user-->
    <id column="cake_user_id" jdbcType="BIGINT" property="cakeUserId" />
    <result column="cake_user_username" jdbcType="VARCHAR" property="cakeUserUsername" />
    <result column="cake_user_password" jdbcType="VARCHAR" property="cakeUserPassword" />
    <result column="cake_user_nicke_name" jdbcType="VARCHAR" property="cakeUserNickeName" />
    <result column="cake_user_authority" jdbcType="VARCHAR" property="cakeUserAuthority" />
    <result column="cake_user_phone" jdbcType="VARCHAR" property="cakeUserPhone" />
    <result column="cake_user_ip" jdbcType="VARCHAR" property="cakeUserIp" />
    <result column="cake_user_level" jdbcType="INTEGER" property="cakeUserLevel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="cake_user_status" jdbcType="INTEGER" property="cakeUserStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    cake_user_id, cake_user_username, cake_user_password, cake_user_nicke_name, cake_user_authority, 
    cake_user_phone, cake_user_ip, cake_user_level, create_time, cake_user_status
  </sql>
</mapper>