<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxl.cakeadmin.mapper.CakeItemMapper">
  <resultMap id="BaseResultMap" type="com.lxl.cakeadmin.entity.CakeItem">
    <!--@mbg.generated-->
    <!--@Table cake_item-->
    <id column="cake_item_id" jdbcType="BIGINT" property="cakeItemId" />
    <result column="cake_item_name" jdbcType="VARCHAR" property="cakeItemName" />
    <result column="cake_item_price" jdbcType="BIGINT" property="cakeItemPrice" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    cake_item_id, cake_item_name, cake_item_price, create_time, update_time
  </sql>
</mapper>